@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
   font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
    letter-spacing: 1px;
    background-color: #0c1022;
}
.heading{
  display: flex;
  justify-content: center;
}
.or{
  display: flex;
  align-items: center;
}
.orPara{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.orHr{
  width: 100%;
}
#loginButton:hover {

  transform: scale(1.09); 
}
.input_group{
  margin-top: 40px;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: start;
}
.input_text{
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #00ccff;
  font-size: 20px;
  padding-left: 10px;
  color: #00ccff;

}
#login{
  position: relative;
  /* width: 300px; */
  height: 40px;
  transition: 1s;
  margin-top: 1rem;


}
input[type = 'checkbox']{
  height: 1.5rem;
}
.mySpan {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
font-size: 1.2rem;
}
.showPassword{
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  align-items: center;
}
.mySpan a{
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

#login button{
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
  z-index: 10;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 2px;
  transition: transform 1.7s;
  border: 1px solid #00ccff;
  border-radius: 50px;
  color: #00ccff;
  background-color: #0c1022;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginWithGoogle{
  color: #00ccff;
  border-radius: 50px;
  /* transition: transform 1.7s; */
  
   display: flex;
   justify-content: center;
margin-top: 0.5rem;
border: 1px solid #00ccff;
height: 2.3rem;
}

#googleLogin{
  color: #00ccff;
  background-color: #0c1022;
 display: flex;
 justify-content: center;
 align-items: center;
 border: none;
 cursor: pointer;
font-size: 22px;

}
.parent{
      margin-bottom: 5rem;
    margin-top: 5rem;
    position: relative;
    width: 363px;
    height: 480px;
    max-width: 400px;
    max-height: 499px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* margin-top: 70px; */
}
img{
  height: 23px;
  width: 25px;
  position: absolute;
  left: 47px;
}
.or{
  margin-top: 1rem;
    margin-bottom: 0.9rem;
}
/* .parent::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}
.parent::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */
.loginCard{
  position: absolute;
  content: '';
  background-color: #0c1022;
  border-radius: 50px 5px;
  inset: 5px;
  padding: 50px 40px;
  z-index: 10;
  color: #00ccff;

} 