@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.completeContainer{
  width: 70vw;
  margin: auto;
}
.icons {
    position: fixed;
    bottom: 0;
 display: flex;
 background-color: white;
 width: 70vw;
justify-content: space-between;
    padding-bottom: 7px;
    
}
.fas.fa-arrow-right{
  cursor: pointer;
}
.fas.fa-trash{
  cursor: pointer;
}
.home{
position: relative;
}
.home::after {
  content: "";
  position: absolute;
  bottom: -6px;
  /* margin-top: 0.3rem; */
  left: 0;
  width: 100%;
  height: 3px;
  
  border-radius: 15px;
  background-color: rgb(11, 11, 12); /* Replace with the color you want for the underline */
  display: none; /* Initially hide the underline */
}


.home:hover::after {
  display: block; /* Show the underline on hover */
}
.headerContainer {
  display: flex;
  justify-content: space-between; /* To push the "Cancel" link to the left */
  align-items: center;
  margin-top: 0.7rem;
}
.cancel{
  cursor: pointer;
}
.horizontalLine{
  margin-top: 0.87rem;
  height: 0.8px;
  background-color: lightgray;
  border: none;
}
.profileAndLabel{
  display: flex;
  margin-top: 0.6rem;
}
.headerOfCreatingPostContainer {
  flex: 1; /* To allow the <h1> container to take available space */
  text-align: center; /* To center the <h1> element horizontally */
  margin-right: 2rem;
}
.postHeader{
  font-weight: 1200;
}
.post{
  position: relative;
}
.post::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust this value to add the desired margin from the top */
  left: -4px;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  background-color: rgb(11, 11, 12); /* Replace with the color you want for the underline */
  display: none; /* Initially hide the underline */
}

.post:hover::after {
  display: block; /* Show the underline on hover */
}

  .user{
    position: relative;
    }
    .user::after {
      content: "";
      position: absolute;
      bottom: -6px;
      /* margin-top: 0.3rem; */
      border-radius: 15px;
      left: 0;
      width: 100%;
      height: 3px;
      
      background-color: rgb(11, 11, 12); /* Replace with the color you want for the underline */
      display: none; /* Initially hide the underline */
    }
    
    .user:hover::after {
      display: block; /* Show the underline on hover */
    }
  .ownerLabel{
    font-size: 1rem;
    color: gray;
  }
  .addComment{
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(112, 112, 112);
  }
  .comment{
    font-size: 1.1rem;
    margin-top: 0.9rem;
    color: rgb(95, 94, 94);
  }
  .para{
    color: rgb(112, 102, 102);
  }
  .postButton{
    color: rgb(170, 101, 235);
  }
.paraAndPostButton{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
  #postContainer{
    margin-bottom: 4rem;
  }
  #postInput{
    height: 210px;
    
    margin-top: 0.3rem;
  }
 
  /* #postInput {
    border: none;
    outline: none;
    box-shadow: none;
    color: black;
    position: absolute;
    transform: translate(0, 120%);
    top: 0;
    left: 1rem;
    width: 100%;
  } */
 
 
  /* #postContainer{
    margin-bottom: 0.7rem;
    font-size: 2rem;
  } */
  /* .underline{
    position: absolute;
    transform: translate(0, 90%);
    top: 1rem;
    right: 1rem;
    height: 1px;
    width: 100vw;
    color: #000000;
  } */
 
  
  /* .confirmDeleteButton{
    border-radius: 0.4rem;
    width: 6rem;
    height: 2.5rem;
    background-color: red;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.9rem;
  } */

.reply{
  position: absolute;
  transform: translate(0, 100%);
  bottom: 4.9rem;
  left: 1rem;
  font-size: 1.5rem;
}
  /* .userName {
    position: absolute;
    transform: translate(0, 120%);
    top: 3rem; 
    left: 4.5rem; 
    color: black;
  } */

  /* .faraz{
    height: 3.5rem;
    width: 4.3rem;
  } */
  #postInput::placeholder{
     color: #000000;
  }
  .fa-gray {
    color: gray;
  }
  .likesAndReplies{
    color: rgb(145, 136, 136);
    margin-top: 1.1rem;
}

 

.myHr{
  width: 1px;
height:100px;
border: none;
color: rgb(255, 255, 255);
height: 0.5px;
}
.parentProfile{
  /* display: flex; */
  display: none;
  align-items: center;
  flex-direction: column;
  float: left;
  margin-right: 1rem;
}
.threadsIcon{
  text-align: center;
}
.myProfile{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: gray;
}
  .icons i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  .threadsIcon img{
    height: 4.4rem;
    width: 3.5rem;
  }
  .timeSpan{
   margin-right: 1rem;
    font-size: 0.9rem;
    color: rgb(145, 136, 136);
  }
  .timeAndDeletePostDiv{
    display: inline;
    float: right;
  }
  #createPostConatiner{
    display: none;
  }
  .myPara{
   overflow-wrap: break-word;
    font-size: 1rem;
    color: #383333;
    margin-top: 0.4rem;
  }
  .threadsIcon{
   

    display: flex;
    justify-content: center;
  }
  .myCommentIcon, .repost ,.share{
    margin-left: 1rem;
    cursor: pointer;
  }
  .like{
    cursor: pointer;
  }
  .commentInput{
    border: none;
    outline: none;
  }
  .commentRow{
    display: flex;
    margin-top: 0.5rem;
  }

#userDiv{
  display: flex ;
  justify-content: space-between;
  align-items: center;
}
 
  #postInput{
    border: none;
    outline: none;
  }
  .commentUser{
    margin-right: 1rem;
  }

  .myDiv{
    margin-top: 2rem;
    display: flex;
  }
  .profileHr{
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
   height: 100%;
   /* background-color: rgb(236, 231, 231); */
  }
  .secondMain{
    margin-left: 0.3rem;
    width: 87%;
  }
  #userDiv{
    font-size: 1.5rem;
    margin-top: 2rem;
  }
 
  .commentButton{
    height: 1.8rem;
    border-radius: 0.4rem;
    width: 7.7rem;
    background-color: black;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0.5rem;
   
  }
  .myParent{
    display: flex;
  }
  /* .userLabel{
    margin-left: 4rem;
  } */
  .swal2-popup-custom {
    height: 400px; /* Adjust the height as needed */
  }
  .labelAndDeletePostSpan{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .labelAndInput{
    margin-left: 0.6rem;
  }
 .deleteComment{
  float: right;
 }
  .delete{
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    bottom: 3px;
    font-size: 1.2rem;
  }
  .myIcon{
    display: flex;
  align-items: center;
  margin-top: 1.4rem;
  
  }
  #userDiv{
    height: 3rem;
    align-items: center;
   
  }
  #userDiv>button{
    padding: 0.2rem 0.6rem 0.2rem  0.6rem  ;
 background-color: #000000;
    color: white;
    border-radius: 0.2rem;
  }
  .postProfileAndLabel{
    display: flex;
    align-items: center;
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .parent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .postingHr{
    height: 100px;
  }
  .postingSmallDiv{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid gray;
  }
 .myLabel{
  font-size: 1rem;
  font-weight: bold;
 }
 .grandCommentContainer{
  margin-top: 0.5rem;
 }
  .hr{
    margin-top: 1.23rem;
    height: 0.8px;
    background-color: lightgray;
    border: none;
  }
  @media screen and (max-width:500px) {
    .completeContainer{
      width: 95vw;
    }
    .icons {
  
   width: 95vw;

  }
  }
  @media screen and (max-width:380px) {
    .secondMain{
      width: 80%;
    }
    #userDiv{
      font-size: 1.1rem;
    }
  }